body {
    background-image: url(images/background.jpg);
}

#gameboard td {
    border: 1px solid black;
    padding: 20px;
}

#gameboard {
    width: 40%;
    margin-left: 700px;
    margin-top: 100px;
    border-spacing: 0px;
    background-color: rgb(209, 183, 122);
}

#chips td {
    border: 1px solid transparent;
    padding: 20px;
    border-radius: 50%;
}

#chips {
    width: 42.7%;
    margin-left: 680px;
    margin-top: -610px;
    border-spacing: 0px;
}

.hidden {
    width: 40%;
    margin-left: 50px;
    margin-top: -550px;
    text-align: justify;
    font-size: x-large;
    background-color: whitesmoke;
    visibility: hidden;
}

.show {
    visibility: visible;
}

#timer {
    width: 15%;
    margin-left: 300px;
    font-size: x-large;
    background-color: whitesmoke;
}

#playerWhite {
    width: 15%;
    margin-left: 300px;
    font-size: x-large;
    background-color: whitesmoke;
}

#playerBlack {
    width: 15%;
    margin-left: 300px;
    font-size: x-large;
    background-color: whitesmoke;
}

#instructions {
    margin-left: 300px;
    margin-top: 100px;
    font-size: large;
}

#reset {
    margin-left: 50px;
    margin-top: 100px;
    font-size: large;
}