body {
    background-image: url(images/background.jpg);
}

#container1 {
    width: 45%;
    float: right;
    margin-top: 5%;
    margin-right: 5%;
    position: relative;
}

#gameboard td {
    border: 1px solid black;
    padding: 3%;
}

#gameboard {
    width: 100%;
    position: absolute;
    border-spacing: 0px;
    background-color: rgb(209, 183, 122);
}

#container2 {
    width: 48.3%;
    float: right;
    margin-top: -1.5%;
    margin-right: 3.39%;
    position: relative;
    clear: right;
}

#chips td {
    border: 1px solid transparent;
    padding: 2.8%;
    border-radius: 50%;
}

#chips {
    width: 100%;
    position: absolute;
    border-spacing: 0px;
}

.hidden {
    width: 40%;
    float: left;
    margin-top: 5%;
    margin-left: 5%;
    text-align: justify;
    font-size: 1.55vw;
    background-color: whitesmoke;
    visibility: hidden;
    clear: left;
}

.show {
    visibility: visible;
}

#timer {
    min-width: 15%;
    float: left;
    margin-top: 0px;
    margin-left: 20%;
    padding: 5px 10px;
    font-size: 1.55vw;
    border-radius: 50em;
    background-color: whitesmoke;
    clear: left;
}

#playerWhite {
    min-width: 15%;
    float: left;
    margin-top: 0px;
    margin-left: 20%;
    padding: 5px 10px;
    font-size: 1.55vw;
    border-radius: 50em;
    background-color: whitesmoke;
    clear: left;
}

#playerBlack {
    min-width: 15%;
    float: left;
    margin-top: 0px;
    margin-left: 20%;
    padding: 5px 10px;
    font-size: 1.55vw;
    border-radius: 50em;
    background-color: whitesmoke;
    clear: left;
}

#instructions {
    float: left;
    margin-top: 5%;
    margin-left: 20%;
    padding: 5px 10px;
    font-size: 1vw;
    border-radius: 50em;
    background-color: rgb(125, 187, 32);
    color: white;
    cursor: pointer;
    clear: left;
}

#reset {
    float: left;
    margin-top: 5%;
    margin-left: 5%;
    padding: 5px 10px;
    font-size: 1vw;
    border-radius: 50em;
    background-color: rgb(125, 187, 32);
    color: white;
    cursor: pointer;
}

#instructions:hover, #reset:hover {
    background-color: rgb(95, 155, 6);
}
#instructions:active, #reset:active {
    transform: translateY(2px);
}

@media screen and (max-width: 700px) {
    #container1 {
        width: 94%;
        margin-top: 5%;
        margin-right: 2.5%;
        position: relative;
    }
    
    #gameboard td {
        border: 1px solid black;
        padding: 3%;
    }
    
    #gameboard {
        width: 100%;
        position: absolute;
        border-spacing: 0px;
        background-color: rgb(209, 183, 122);
    }
    
    #container2 {
        width: 100%;
        margin-top: -2.8%;
        margin-right: -0.55%;
        position: relative;
    }
    
    #chips td {
        border: 1px solid transparent;
        padding: 2.8%;
        border-radius: 50%;
    }
    
    #chips {
        width: 100%;
        position: absolute;
        border-spacing: 0px;
    }
    
    .hidden {
        width: 90%;
        margin-top: 90%;
        margin-left: 5%;
        text-align: justify;
        font-size: 2.5vw;
        background-color: whitesmoke;
        visibility: hidden;
    }
    
    .show {
        visibility: visible;
    }
    
    #timer {
        min-width: 15%;
        margin-top: 0px;
        margin-left: 40%;
        padding: 5px 10px;
        font-size: 2.5vw;
        border-radius: 50em;
        background-color: whitesmoke;
    }
    
    #playerWhite {
        min-width: 15%;
        margin-top: 0px;
        margin-left: 40%;
        padding: 5px 10px;
        font-size: 2.5vw;
        border-radius: 50em;
        background-color: whitesmoke;
    }
    
    #playerBlack {
        min-width: 15%;
        margin-top: 0px;
        margin-left: 40%;
        padding: 5px 10px;
        font-size: 2.5vw;
        border-radius: 50em;
        background-color: whitesmoke;
    }
    
    #instructions {
        margin-top: 5%;
        margin-left: 40%;
        padding: 5px 10px;
        font-size: 2vw;
        border-radius: 50em;
        background-color: rgb(125, 187, 32);
        color: white;
        cursor: pointer;
    }
    
    #reset {
        margin-top: 5%;
        margin-left: 5%;
        padding: 5px 10px;
        font-size: 2vw;
        border-radius: 50em;
        background-color: rgb(125, 187, 32);
        color: white;
        cursor: pointer;
    }
    
    #instructions:hover, #reset:hover {
        background-color: rgb(95, 155, 6);
    }
    #instructions:active, #reset:active {
        transform: translateY(2px);
    }
}